<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <settings type="Sitecore.Support.Forms.Core.Dependencies.DefaultImplSettings,Sitecore.Support.101203" patch:instead="*[@type='Sitecore.Forms.Core.Dependencies.DefaultImplSettings, Sitecore.Forms.Core']"/>
      <requirementsChecker type="Sitecore.Support.Forms.Core.Dependencies.DefaultImplRequirementsChecker, Sitecore.Support.101203" patch:instead="*[@type='Sitecore.Forms.Core.Dependencies.DefaultImplRequirementsChecker, Sitecore.Forms.Core']"  >
        <param name="settings" ref="/sitecore/wffm/settings" />
      </requirementsChecker>
    </wffm>
  </sitecore>
</configuration>